img.x-tree-icon{
    background-image:none !important;
    width:0px; !important;
}
.selectBloc{
	background: url(../icones/blue/16x16/brick_select.png) left center no-repeat !important;
}
.selectedelement{
border-color:#0086C9 !important;
border-width:4px !important; 
}
.selectedFElement{
border-color:#0086C9 !important;
border-width:4px !important; 
border-style:dotted !important;
}
.noBordered{
border-width:0px; 
}
.contrastFBorder{
border-color:#666666;
border-width:4px; 
border-style:dotted !important;
}
.mainColumn{
background:#E5F6FF !important;
}
.contrastBorder{
border-color:#666666;
border-width:2px; 
}
.contrastCBorder{
border-color:#666666;
border-width:2px; 
border-style:dotted !important;
}
.contrastRow{
border-style:dashed !important;
}
.prevDesktop{
	background: url(../icones/generic/desktop32.png) left center no-repeat !important;
}
.infoWarning{
	background: url(../icones/generic/warning.png)  center no-repeat !important;
}
.prevIpad{
	background: url(../icones/generic/ipad32.png) left center no-repeat !important;
}
.prevIpadL{
	background: url(../icones/generic/ipad-l32.png) left center no-repeat !important;
}
.prevIphone{
	background: url(../icones/generic/iphone32.png) left center no-repeat !important;
}
.prevIphoneL{
	background: url(../icones/generic/iphone-l32.png) left center no-repeat !important;
}
.x-toolbar .x-btn-split-right:hover {
    background: url(../images/delete_item.png) right center no-repeat !important;
}
.database_search{
	background: url(../icones/blue/16x16/database_search.png)  center no-repeat !important;
}
.x-toolbar .x-btn-split-right {
    background: transparent !important;
    padding-right:10px !important;
}
.x-toolbar .show-cross .x-btn-split-right {
    background: url(../images/delete_item.png) right center no-repeat !important;
}
.favorite_add_med{
	background: url(../icones/blue/24x24/favorite_add.png)  center no-repeat !important;
}
.cond_med{
	background: url(../icones/blue/24x24/network.png)  center no-repeat !important;
}
.cond_small{
	background: url(../icones/blue/16x16/network.png)  center no-repeat !important;
}
.database_remove_big{
	background: url(../icones/blue/32x32/database_remove.png)  center no-repeat !important;
}
.database_up_small{
	background: url(../icones/blue/16x16/database_up.png)  center no-repeat !important;
}
.database_down_small{
	background: url(../icones/blue/16x16/database_down.png)  center no-repeat !important;
}
.play_small{
	background: url(../icones/blue/16x16/play.png)  center no-repeat !important;
}
.applications{
	background: url(../icones/blue/16x16/applications.png)  center no-repeat !important;
}
.mediaTypes{
	background: url(../icones/blue/16x16/images.png) left center no-repeat !important;
}
.refresh{
	background: url(../icones/blue/16x16/refresh.png) left center no-repeat !important;
}
.refresh_big{
	background: url(../icones/blue/32x32/refresh.png) left center no-repeat !important;
}
.form_big{
	background: url(../icones/blue/32x32/note_edit.png) center no-repeat !important;
}
.form_small{
	background: url(../icones/blue/16x16/note_edit.png) center no-repeat !important;
}
.mail_small{
	background: url(../icones/blue/16x16/mail.png) center no-repeat !important;
}
.new_form_small{
	background: url(../icones/blue/16x16/note_add.png) center no-repeat !important;
}
.desktopHome_med{
	background: url(../icones/blue/24x24/home.png)  center no-repeat !important;
}
.page_preview_big{
	background: url(../icones/blue/32x32/computer.png) center no-repeat !important;
}
.monitoring{
	background: url(../icones/blue/16x16/chart.png) left center no-repeat !important;
}
.window_remove_big{
	background: url(../icones/blue/32x32/window_remove.png)  center no-repeat !important;
}
.accept_big{
	background: url(../icones/blue/32x32/accept.png)  center no-repeat !important;
}
.referencement_icon{
	background: url(../icones/blue/16x16/globe_computer.png) left center no-repeat !important;
}
.online_big{
	background: url(../icones/blue/32x32/globe_up.png)  center no-repeat !important;
}
.offline_big{
	background: url(../icones/blue/32x32/globe_down.png)  center no-repeat !important;
}
.online_med{
	background: url(../icones/blue/24x24/globe_up.png)  center no-repeat !important;
}
.offline_med{
	background: url(../icones/blue/24x24/globe_down.png)  center no-repeat !important;
}
.validation_submit_big{
	background: url(../icones/blue/32x32/question_mark.png)  center no-repeat !important;
}
.folder_add_big{
	background: url(../icones/blue/32x32/folder_add.png) left center no-repeat !important;
}
.folder_remove_big{
	background: url(../icones/blue/32x32/folder_remove.png) left center no-repeat !important;
}
.info_big{
	background: url(../icones/blue/32x32/info.png) left center no-repeat !important;
}
.database_up_big{
	background: url(../icones/blue/32x32/database_up.png)  center no-repeat !important;
}
.database_down_big{
	background: url(../icones/blue/32x32/database_down.png)  center no-repeat !important;
}
.shopping_cart_med{
	background: url(../icones/blue/24x24/shopping_cart.png) left center no-repeat !important;
}
.shopping_cart_remove_med{
	background: url(../icones/blue/24x24/shopping_cart_remove.png) left center no-repeat !important;
}
.add_big{
	background: url(../icones/blue/32x32/add.png)  center no-repeat !important;
}
.remove_big{
	background: url(../icones/blue/32x32/remove.png)  center no-repeat !important;
}
.remove_med{
	background: url(../icones/blue/24x24/remove.png)  center no-repeat !important;
}
.applications_big{
	background: url(../icones/blue/32x32/applications.png)  center no-repeat !important;
}
.window_add_big{
	background: url(../icones/blue/32x32/window_add.png)  center no-repeat !important;
}
.window_up_big{
	background: url(../icones/blue/32x32/window_up.png)  center no-repeat !important;
}
.window_down_big{
	background: url(../icones/blue/32x32/window_down.png)  center no-repeat !important;
}
.window_add_med{
	background: url(../icones/blue/24x24/window_add.png)  center no-repeat !important;
}
.application_down_big{
	background: url(../icones/blue/32x32/application_down.png)  center no-repeat !important;
}
.application_up_big{
	background: url(../icones/blue/32x32/application_up.png)  center no-repeat !important;
}
.floppy_disc_big{
	background: url(../icones/blue/32x32/floppy_disc.png)  center no-repeat !important;
}
.play_big{
	background: url(../icones/blue/32x32/play.png)  center no-repeat !important;
}
.floppy_disc_accept_big{
	background: url(../icones/blue/32x32/floppy_disc_accept.png)  center no-repeat !important;
}
.shopping_cart_add_big{
	background: url(../icones/blue/32x32/shopping_cart_add.png)  center no-repeat !important;
}
.favorite_add_big{
	background: url(../icones/blue/32x32/favorite_add.png)  center no-repeat !important;
}
.pencil_big{
	background: url(../icones/blue/32x32/pencil.png)  center no-repeat !important;
}
.pencil_med{
	background: url(../icones/blue/24x24/pencil.png)  center no-repeat !important;
}
.image_edit{
	background: url(../icones/blue/16x16/image_edit.png) left center no-repeat !important;
}
.folderM{
	background: url(../images/folder.png) left center no-repeat !important;
}
.personalize{
	background: url(../icones/blue/16x16/computer.png) left center no-repeat !important;
}
.page_add_big{
	background: url(../icones/blue/32x32/page_add.png)  center no-repeat !important;
}
.documentDep{
	background: url(../icones/blue/16x16/attach_document.png) left center no-repeat !important;
}
.help{
	background: url(../icones/blue/16x16/info.png) left center no-repeat !important;
}
.editZone{
	background: url(../icones/blue/16x16/window_edit.png) left center no-repeat !important;
}
.editBloc{
	background: url(../icones/blue/16x16/brick_edit.png) left center no-repeat !important;
}
.confirmS{
	background: url(../images/exclamation.png) left center no-repeat !important;
}
.page_copy{
	background: url(../images/page_copy.png) left center no-repeat !important;
}
.editFormulaire{
	background: url(../images/application_form_edit.png) left center no-repeat !important;
}
.ouiS{
	background: url(../icones/blue/32x32/check_mark.png)  center no-repeat !important;
}
.ouiSpetit{
	background: url(../icones/blue/16x16/check_mark.png) left center no-repeat !important;
}
.nonS{
	background: url(../icones/blue/32x32/delete.png)  center no-repeat !important;
}
.action{
	background: url(../icones/blue/16x16/pencil.png) left center no-repeat !important;
}
.parametres{
	background: url(../icones/blue/16x16/tools.png) left center no-repeat !important;
}
.termes{
	background: url(../images/leaf.gif) left center no-repeat !important;
}
.vider{
	background: url(../images/close_2.png) left center no-repeat !important;
}
.ajouter_contenu{
	background: url(../images/add.png) left center no-repeat !important;
}
.modifier{
	background: url(../icones/blue/16x16/pencil.png) left center no-repeat !important;
}
.supprimer_contenu{
	background: url(../images/delete.png) left center no-repeat !important;
}
.arrow_down  {
	background: url(../icones/blue/16x16/down.png) left center no-repeat !important;
}
.arrow_left  {
	background: url(../icones/blue/16x16/previous.png) left center no-repeat !important;
}
.arrow_right  {
	background: url(../icones/blue/16x16/next.png) left center no-repeat !important;
}
.appliquer  {
	background: url(../images/accept.png) left center no-repeat !important;
}
.filtres  {
	background: url(../images/select_all.gif) left center no-repeat !important;
}
.arborescence  {
	background: url(../images/brick_edit.png) left center no-repeat !important;
}
.versions {
	background: url(../images/page_white_stack.png) left center no-repeat !important;
}
.deconecter {
	background: url(../icones/blue/16x16/disconnect.png) left center no-repeat !important;
}
.arrow_up  {
	background: url(../icones/blue/16x16/up.png) left center no-repeat !important;
}
.arrow_up_big  {
	background: url(../icones/blue/32x32/up.png)  center no-repeat !important;
}
.arrow_down_big {
	background: url(../icones/blue/32x32/down.png) center no-repeat !important;
}
.outil {
	background: url(../images/application.png) left center no-repeat !important;
}

.application_side_contract  {
	background: url(../images/application_side_contract.png) left center no-repeat !important;
}

.application_side_expand  {
	background: url(../images/application_side_expand.png) left center no-repeat !important;
}

.add  {
	background: url(../icones/blue/16x16/add.png) left center no-repeat !important;
}

.folder_add  {
	background: url(../images/folder_add.png) left center no-repeat !important;
}
.folder_delete  {
	background: url(../images/folder_delete.png) left center no-repeat !important;
}
.domaineap {
	background: url(../images/folder_edit.png) left center no-repeat !important;
}

.page_add  {
	background: url(../images/page_add.png) left center no-repeat !important;
}

.delete  {
	background: url(../images/delete.png) left center no-repeat !important;
}

.x-tool-delete  {
	background: url(../images/delete.png) left center no-repeat !important;
}

.page_delete  {
	background: url(../images/page_delete.png) left center no-repeat !important;
}

.save {
	background: url(../icones/blue/16x16/floppy_disc.png) left center no-repeat !important;
}
.save_refuse {
	background: url(../icones/blue/16x16/floppy_disc_remove.png) left center no-repeat !important;
}

.reload {
	background: url(../images/reload.png) left center no-repeat !important;
}

.publish {
	background: url(../icones/blue/16x16/floppy_disc_accept.png) left center no-repeat !important;
}

.page_edit {
	background: url(../images/page_edit.png) left center no-repeat !important;
}

.page_see {
	background: url(../images/see.png) left center no-repeat !important;
}

.page_meta {
	background: url(../images/page_meta.png) left center no-repeat !important;
}

.page_version {
	background: url(../images/page_version.png) left center no-repeat !important;
}

.page_key {
	background: url(../images/page_key.png) left center no-repeat !important;
}

.page_taxonomy {
	background: url(../icones/blue/16x16/tag.png) left center no-repeat !important;
}
.folder{
	background: url(../icones/blue/16x16/folder.png) left center no-repeat !important;
}

.flag_france{
	background: url(../images/flag_france.png) left center no-repeat !important;
}

.flag_great_britain{
	background: url(../images/flag_great_britain.png) left center no-repeat !important;
}

.flag_germany{
	background: url(../images/flag_germany.png) left center no-repeat !important;
}

.document{
	background: url(../images/document.png) left center no-repeat !important;
}

.edit{
	background: url(../icones/blue/16x16/pencil.png) left center no-repeat !important;
}
.warning{
	background: url(../icones/blue/16x16/warning.png) left center no-repeat !important;
}

.x-tool-edit{
	background: url(../images/edit.png) left center no-repeat !important;
}

.Undo-icon{
	background: url(../images/Undo-icon.png) left center no-repeat !important;
}

.Redo-icon{
	background: url(../images/Redo-icon.png) left center no-repeat !important;
}

.user{
	background: url(../icones/blue/16x16/users.png) left  center no-repeat !important;
}
.user_search{
	background: url(../icones/blue/16x16/user_search.png) left  center no-repeat !important;
}
.user_add_big{
	background: url(../icones/blue/32x32/user_add.png)  center no-repeat !important;
}
.user_edit{
	background: url(../icones/blue/16x16/user_edit.png)  center no-repeat !important;
}
.unlock_big{
	background: url(../icones/blue/32x32/unlock.png)  center no-repeat !important;
}
.user_remove_big{
	background: url(../icones/blue/32x32/user_remove.png) center no-repeat !important;
}
.meUser{
	background: url(../icones/blue/16x16/business_user.png) left center no-repeat !important;
}

.user_business{
	background: url(../images/user_business.png) left center no-repeat !important;
}

.user_business_boss{
	background: url(../images/user_business_boss.png) left center no-repeat !important;
}


.home{
	background: url(../images/home.png) left center no-repeat !important;
}

.lock{
	background: url(../images/lock.png) left center no-repeat !important;
}

.lock_unlock{
	background: url(../images/lock_unlock.png) left center no-repeat !important;
}

.site-icon{
	background: url(../icones/blue/16x16/application.png) left center no-repeat !important;
}

.content-icon{
	background: url(../icones/blue/16x16/page_full.png) left center no-repeat !important;
}

.media-icon{
	background: url(../icones/blue/16x16/database.png) left center no-repeat !important;
}

.masque-icon{
	background: url(../icones/blue/16x16/application.png) left center no-repeat !important;
}

.process-icon{
	background: url(../icones/blue/16x16/processes.png) left center no-repeat !important;
}

.search{
	background: url(../icones/blue/16x16/search.png) left center no-repeat !important;
}

.system_network{
	background: url(../images/system_network.png) left center no-repeat !important;
}

.select_all{
	background: url(../images/select_icon.png) left center no-repeat !important;
}

.open-recent{
	background: url(../images/open-recent.png) left center no-repeat !important;
}

.favoris{
	background: url(../icones/blue/16x16/favorite.png) left center no-repeat !important;
}
.gerer-favoris{
	background: url(../images/mes-favoris-icon.png) left center no-repeat !important;
}

.cart{
	background: url(../icones/blue/16x16/shopping_cart.png) left center no-repeat !important;
}


.close{
	background: url(../icones/blue/16x16/remove.png) left center no-repeat !important;
}
.imageIco{
	background: url(../icones/blue/16x16/image.png) left center no-repeat !important;
}
.pdfIco{
	background: url(../icones/blue/16x16/pdf.png) left center no-repeat !important;
}

.explorateur{
	background: url(../icones/blue/16x16/monitor.png) left center no-repeat !important;
}

.archive{
	background: url(../images/archive.png) left center no-repeat !important;
}

.draft{
	background: url(../images/draft.png) left center no-repeat !important;
}

.cancel{
	background: url(../images/close_3.png) left center no-repeat !important;
}



mg.icon {
border: 0;
vertical-align: text-bottom;
border-image: initial;
}
fff-sprite.css:1
img.ss_sprite {
height: 18px;
width: 18px;
background-repeat: no-repeat;
background-image: url("../images/jalios/icons/fff-sprites.png");
}
fff-sprite.css:3
.ss_email {
background-position: 0px -6643px;
}
