.folderM{
	background: url(../images/folder.png) left center no-repeat !important;
}
.documentDep{
	background: url(../icones/16x16/attach_document.png) left center no-repeat !important;
}
.help{
	background: url(../icones/16x16/info.png) left center no-repeat !important;
}
.editZone{
	background: url(../icones/16x16/window_edit.png) left center no-repeat !important;
}
.editBloc{
	background: url(../images/brick_edit.png) left center no-repeat !important;
}
.confirmS{
	background: url(../images/exclamation.png) left center no-repeat !important;
}
.page_copy{
	background: url(../images/page_copy.png) left center no-repeat !important;
}
.editFormulaire{
	background: url(../images/application_form_edit.png) left center no-repeat !important;
}
.ouiS{
	background: url(../icones/32x32/check_mark.png) left center no-repeat !important;
}
.ouiSpetit{
	background: url(../icones/16x16/check_mark.png) left center no-repeat !important;
}
.nonS{
	background: url(../icones/32x32/delete.png) left center no-repeat !important;
}
.action{
	background: url(../icones/16x16/pencil.png) left center no-repeat !important;
}
.parametres{
	background: url(../icones/16x16/tools.png) left center no-repeat !important;
}
.termes{
	background: url(../images/leaf.gif) left center no-repeat !important;
}
.vider{
	background: url(../images/close_2.png) left center no-repeat !important;
}
.ajouter_contenu{
	background: url(../images/add.png) left center no-repeat !important;
}
.modifier{
	background: url(../icones/16x16/pencil.png) left center no-repeat !important;
}
.supprimer_contenu{
	background: url(../images/delete.png) left center no-repeat !important;
}
.arrow_down  {
	background: url(../icones/16x16/down.png) left center no-repeat !important;
}
.arrow_left  {
	background: url(../icones/16x16/previous.png) left center no-repeat !important;
}
.arrow_right  {
	background: url(../icones/16x16/next.png) left center no-repeat !important;
}
.appliquer  {
	background: url(../images/accept.png) left center no-repeat !important;
}
.filtres  {
	background: url(../images/select_all.gif) left center no-repeat !important;
}
.arborescence  {
	background: url(../images/brick_edit.png) left center no-repeat !important;
}
.versions {
	background: url(../images/page_white_stack.png) left center no-repeat !important;
}
.deconecter {
	background: url(../images/disconnect.png) left center no-repeat !important;
}
.arrow_up  {
	background: url(../icones/16x16/up.png) left center no-repeat !important;
}
.outil {
	background: url(../images/application.png) left center no-repeat !important;
}

.application_side_contract  {
	background: url(../images/application_side_contract.png) left center no-repeat !important;
}

.application_side_expand  {
	background: url(../images/application_side_expand.png) left center no-repeat !important;
}

.add  {
	background: url(../icones/16x16/add.png) left center no-repeat !important;
}

.folder_add  {
	background: url(../images/folder_add.png) left center no-repeat !important;
}
.folder_delete  {
	background: url(../images/folder_delete.png) left center no-repeat !important;
}
.domaineap {
	background: url(../images/folder_edit.png) left center no-repeat !important;
}

.page_add  {
	background: url(../images/page_add.png) left center no-repeat !important;
}

.delete  {
	background: url(../images/delete.png) left center no-repeat !important;
}

.x-tool-delete  {
	background: url(../images/delete.png) left center no-repeat !important;
}

.page_delete  {
	background: url(../images/page_delete.png) left center no-repeat !important;
}

.save {
	background: url(../icones/16x16/floppy_disc.png) left center no-repeat !important;
}

.reload {
	background: url(../images/reload.png) left center no-repeat !important;
}

.publish {
	background: url(../icones/16x16/floppy_disc_accept.png) left center no-repeat !important;
}

.page_edit {
	background: url(../images/page_edit.png) left center no-repeat !important;
}

.page_see {
	background: url(../images/see.png) left center no-repeat !important;
}

.page_meta {
	background: url(../images/page_meta.png) left center no-repeat !important;
}

.page_version {
	background: url(../images/page_version.png) left center no-repeat !important;
}

.page_key {
	background: url(../images/page_key.png) left center no-repeat !important;
}

.page_taxonomy {
	background: url(../icones/16x16/tag.png) left center no-repeat !important;
}
.folder{
	background: url(../icones/16x16/folder.png) left center no-repeat !important;
}

.flag_france{
	background: url(../images/flag_france.png) left center no-repeat !important;
}

.flag_great_britain{
	background: url(../images/flag_great_britain.png) left center no-repeat !important;
}

.flag_germany{
	background: url(../images/flag_germany.png) left center no-repeat !important;
}

.document{
	background: url(../images/document.png) left center no-repeat !important;
}

.edit{
	background: url(../icones/16x16/pencil.png) left center no-repeat !important;
}
.warning{
	background: url(../icones/16x16/warning.png) left center no-repeat !important;
}

.x-tool-edit{
	background: url(../images/edit.png) left center no-repeat !important;
}

.Undo-icon{
	background: url(../images/Undo-icon.png) left center no-repeat !important;
}

.Redo-icon{
	background: url(../images/Redo-icon.png) left center no-repeat !important;
}

.user{
	background: url(../icones/16x16/users.png) left center no-repeat !important;
}
.meUser{
	background: url(../icones/16x16/business_user.png) left center no-repeat !important;
}

.user_business{
	background: url(../images/user_business.png) left center no-repeat !important;
}

.user_business_boss{
	background: url(../images/user_business_boss.png) left center no-repeat !important;
}


.home{
	background: url(../images/home.png) left center no-repeat !important;
}

.lock{
	background: url(../images/lock.png) left center no-repeat !important;
}

.lock_unlock{
	background: url(../images/lock_unlock.png) left center no-repeat !important;
}

.site-icon{
	background: url(../icones/16x16/application.png) left center no-repeat !important;
}

.content-icon{
	background: url(../icones/16x16/page_full.png) left center no-repeat !important;
}

.media-icon{
	background: url(../icones/16x16/image.png) left center no-repeat !important;
}

.masque-icon{
	background: url(../icones/16x16/application.png) left center no-repeat !important;
}

.process-icon{
	background: url(../icones/16x16/processes.png) left center no-repeat !important;
}

.search{
	background: url(../icones/16x16/search.png) left center no-repeat !important;
}

.system_network{
	background: url(../images/system_network.png) left center no-repeat !important;
}

.select_all{
	background: url(../images/select_icon.png) left center no-repeat !important;
}

.open-recent{
	background: url(../images/open-recent.png) left center no-repeat !important;
}

.favoris{
	background: url(../icones/16x16/favorite.png) left center no-repeat !important;
}
.gerer-favoris{
	background: url(../images/mes-favoris-icon.png) left center no-repeat !important;
}

.cart{
	background: url(../icones/16x16/shopping_cart.png) left center no-repeat !important;
}


.close{
	background: url(../icones/16x16/remove.png) left center no-repeat !important;
}

.explorateur{
	background: url(../icones/16x16/monitor.png) left center no-repeat !important;
}

.archive{
	background: url(../images/archive.png) left center no-repeat !important;
}

.draft{
	background: url(../images/draft.png) left center no-repeat !important;
}

.cancel{
	background: url(../images/close_3.png) left center no-repeat !important;
}



mg.icon {
border: 0;
vertical-align: text-bottom;
border-image: initial;
}
fff-sprite.css:1
img.ss_sprite {
height: 18px;
width: 18px;
background-repeat: no-repeat;
background-image: url("../images/jalios/icons/fff-sprites.png");
}
fff-sprite.css:3
.ss_email {
background-position: 0px -6643px;
}
