.ux-notification-light p{
    color:#000000 !important;
    }
.ux-notification-light .x-window-header-text{
    color:#000000 !important;
    }
.ckefail{
border-color:red !important;
border-width:2px !important; 
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #666666;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-grid-header-ct .x-column-filtered .x-column-header-inner .x-column-header-text {
	font-weight: bold;
	font-style: italic;
	color: green;
}

.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(../images/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}
.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 18px 5px;
	width: 200px;
	background-color: transparent;
	border: 0px solid white;
}




.x-ux-callout.gray {
  background: #eeeeee;
  border: 2px solid #999999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: visible;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  color: #777777;
}
.x-ux-callout.gray.top:after,
.x-ux-callout.gray.top:before,
.x-ux-callout.gray.top-left:after,
.x-ux-callout.gray.top-left:before,
.x-ux-callout.gray.top-right:after,
.x-ux-callout.gray.top-right:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.x-ux-callout.gray.top:after {
  border-bottom-color: #eeeeee;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}
.x-ux-callout.gray.top:before {
  border-bottom-color: #999999;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.x-ux-callout.gray.top-left {
  -webkit-border-top-left-radius: 1;
  -moz-border-radius-topleft: 1;
  border-top-left-radius: 1;
}
.x-ux-callout.gray.top-left:after {
  border-bottom-color: #eeeeee;
  border-width: 12px;
  left: 14px;
  margin-left: -12px;
}
.x-ux-callout.gray.top-left:before {
  border-bottom-color: #999999;
  border-width: 15px;
  left: 14px;
  margin-left: -15px;
}
.x-ux-callout.gray.top-right {
  -webkit-border-top-right-radius: 1;
  -moz-border-radius-topright: 1;
  border-top-right-radius: 1;
}
.x-ux-callout.gray.top-right:after {
  border-bottom-color: #eeeeee;
  border-width: 12px;
  left: 100%;
  margin-left: -27px;
}
.x-ux-callout.gray.top-right:before {
  border-bottom-color: #999999;
  border-width: 15px;
  left: 100%;
  margin-left: -30px;
}
.x-ux-callout.gray.bottom:after,
.x-ux-callout.gray.bottom:before,
.x-ux-callout.gray.bottom-left:after,
.x-ux-callout.gray.bottom-left:before,
.x-ux-callout.gray.bottom-right:after,
.x-ux-callout.gray.bottom-right:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.x-ux-callout.gray.bottom:after {
  border-top-color: #eeeeee;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}
.x-ux-callout.gray.bottom:before {
  border-top-color: #999999;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.x-ux-callout.gray.bottom-left {
  -webkit-border-bottom-left-radius: 1;
  -moz-border-radius-bottomleft: 1;
  border-bottom-left-radius: 1;
}
.x-ux-callout.gray.bottom-left:after {
  border-top-color: #eeeeee;
  border-width: 12px;
  left: 14px;
  margin-left: -12px;
}
.x-ux-callout.gray.bottom-left:before {
  border-top-color: #999999;
  border-width: 15px;
  left: 14px;
  margin-left: -15px;
}
.x-ux-callout.gray.bottom-right {
  -webkit-border-bottom-right-radius: 1;
  -moz-border-radius-bottomright: 1;
  border-bottom-right-radius: 1;
}
.x-ux-callout.gray.bottom-right:after {
  border-top-color: #eeeeee;
  border-width: 12px;
  left: 100%;
  margin-left: -27px;
}
.x-ux-callout.gray.bottom-right:before {
  border-top-color: #999999;
  border-width: 15px;
  left: 100%;
  margin-left: -30px;
}
.x-ux-callout.gray.right:after,
.x-ux-callout.gray.right:before,
.x-ux-callout.gray.right-top:after,
.x-ux-callout.gray.right-top:before,
.x-ux-callout.gray.right-bottom:after,
.x-ux-callout.gray.right-bottom:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  /* width: 0; */

  position: absolute;
  pointer-events: none;
}
.x-ux-callout.gray.right:after {
  border-left-color: #eeeeee;
  border-width: 12px;
  top: 50%;
  margin-top: -12px;
}
.x-ux-callout.gray.right:before {
  border-left-color: #999999;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}
.x-ux-callout.gray.right-top {
  -webkit-border-top-right-radius: 1;
  -moz-border-radius-topright: 1;
  border-top-right-radius: 1;
}
.x-ux-callout.gray.right-top:after {
  border-left-color: #eeeeee;
  border-width: 12px;
  top: 14px;
  margin-top: -12px;
}
.x-ux-callout.gray.right-top:before {
  border-left-color: #999999;
  border-width: 15px;
  top: 14px;
  margin-top: -15px;
}
.x-ux-callout.gray.right-bottom {
  -webkit-border-bottom-right-radius: 1;
  -moz-border-radius-bottomright: 1;
  border-bottom-right-radius: 1;
}
.x-ux-callout.gray.right-bottom:after {
  border-left-color: #eeeeee;
  border-width: 12px;
  top: 100%;
  margin-top: -27px;
}
.x-ux-callout.gray.right-bottom:before {
  border-left-color: #999999;
  border-width: 15px;
  top: 100%;
  margin-top: -30px;
}
.x-ux-callout.gray.left:after,
.x-ux-callout.gray.left:before,
.x-ux-callout.gray.left-top:after,
.x-ux-callout.gray.left-top:before,
.x-ux-callout.gray.left-bottom:after,
.x-ux-callout.gray.left-bottom:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  position: absolute;
  pointer-events: none;
}
.x-ux-callout.gray.left:after {
  border-right-color: #eeeeee;
  border-width: 12px;
  top: 50%;
  margin-top: -12px;
}
.x-ux-callout.gray.left:before {
  border-right-color: #999999;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}
.x-ux-callout.gray.left-top {
  -webkit-border-top-left-radius: 1;
  -moz-border-radius-topleft: 1;
  border-top-left-radius: 1;
}
.x-ux-callout.gray.left-top:after {
  border-right-color: #eeeeee;
  border-width: 12px;
  top: 14px;
  margin-top: -12px;
}
.x-ux-callout.gray.left-top:before {
  border-right-color: #999999;
  border-width: 15px;
  top: 14px;
  margin-top: -15px;
}
.x-ux-callout.gray.left-bottom {
  -webkit-border-bottom-left-radius: 1;
  -moz-border-radius-bottomleft: 1;
  border-bottom-left-radius: 1;
}
.x-ux-callout.gray.left-bottom:after {
  border-right-color: #eeeeee;
  border-width: 12px;
  top: 100%;
  margin-top: -27px;
}
.x-ux-callout.gray.left-bottom:before {
  border-right-color: #999999;
  border-width: 15px;
  top: 100%;
  margin-top: -30px;
}
.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
.x-grid-checkheader {
    height: 14px;
    background-image: url('/backoffice/resources/images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('/backoffice/resources/images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}