<!DOCTYPE html>
<html ng-app="cauldron" ng-controller="CauldronController as cauldron">
    <head>
        <title>Cauldron</title>
        <link rel="stylesheet" type="text/css" href="/components/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="/components/jquery/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/components/jquery/jqueryui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/components/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/components/angular/angular.js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-dragdrop.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 unpadded">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Elements</h3>
                        </div>
                        <div class="panel-body">
                            <div class="cauldron-element-type" ng-repeat="element in cauldron.elementSet"  data-drag="true"  data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{placeholder: 'keep',onStart:'cauldron.setCurrentItemType(element.type)'}">
                                <p class="text-center"><img ng-src="/backoffice/resources/icones/red/32x32/{{element.icon}}"></p>
                                <p class="text-center">{{element.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 padded-15">
                    <div class="panel panel-default" ng-repeat="instruction in cauldron.instructionsArray track by $index">
                        <div class="panel-body" >
                            <div class="text-right pull-right">
                                <a class="cursor-as-pointer" ng-click="cauldron.moveItemUp($index)" ng-show="$index>0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                                <a class="cursor-as-pointer" ng-click="cauldron.moveItemDown($index)" ng-show="$index<cauldron.instructionsArray.length-1"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                                <a class="cursor-as-pointer" ng-click="cauldron.removeItem($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>
                            <div ng-include="cauldron.getInstructionTemplate(instruction.type)">

                            </div>
                        </div>
                    </div>
                    {{cauldron.instructionsArray}}
                    <div class="alert zone-border text-center" ng-class="cauldron.mainDropClass"
                         data-drop="true"
                         jqyoui-droppable="{beforeDrop:'cauldron.dropInMain()',onOver:'cauldron.onMainOver()',onOut:'cauldron.onMainOut()'}"
                         role="alert">Drag and drop an element here</div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary navbar-btn pull-right"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
            </div>
        </nav>
    </body>
</html>