<div ng-controller="IfThenController as wdCtrl">
    <div class="row">
        <div class="col-xs-1">
            <label>If</label>
        </div>
        <div class="col-xs-11">
            <div>
                <button type="button" class="btn btn-primary" ng-click="wdCtrl.addCondition()">Add condition</button>
            </div>
            <div class="top20"></div>
            <div class="panel panel-default" ng-repeat="condition in instruction.config.conditionsArray track by $index">
                <div class="panel-body" >
                    <div class="text-right pull-right">
                        <a class="cursor-as-pointer" ng-click="wdCtrl.moveCondItemUp($index)" ng-show="$index>0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                        <a class="cursor-as-pointer" ng-click="wdCtrl.moveCondItemDown($index)" ng-show="$index<instruction.config.conditionsArray.length-1"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                        <a class="cursor-as-pointer" ng-click="wdCtrl.removeCondItem($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <select ng-show="$index>0" ng-model="instruction.config.conditionsOperator" ng-options="moperator for moperator in wdCtrl.conditionInterOperators" class="form-control" required></select>
                        </div>
                        <div class="form-group">
                            <input type="text" auto-complete-condition ng-model="condition.property" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <select ng-model="condition.operator" ng-options="operator for operator in wdCtrl.conditionOperators" class="form-control" required></select>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="condition.value" class="form-control" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row top20">
        <div class="col-xs-1">
            <label>Then</label>
        </div>
        <div class="col-xs-11">
            <div class="panel panel-default" ng-repeat="instruction in instruction.config.executionsArray track by $index">
                <div class="panel-body" >
                    <div class="text-right pull-right">
                        <a class="cursor-as-pointer" ng-click="wdCtrl.moveItemUp($index)" ng-show="$index>0"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                        <a class="cursor-as-pointer" ng-click="wdCtrl.moveItemDown($index)" ng-show="$index<wdCtrl.getInstLength()"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                        <a class="cursor-as-pointer" ng-click="wdCtrl.removeItem($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                    <div ng-include="cauldron.getInstructionTemplate(instruction.type)">

                    </div>
                </div>
            </div>
            <div class="alert zone-border text-center" ng-class="wdCtrl.mainDropClass"
                 data-drop="true"
                 jqyoui-droppable="{beforeDrop:'wdCtrl.dropInMain()',onOver:'wdCtrl.onMainOver()',onOut:'wdCtrl.onMainOut()'}"
                 role="alert">Drag and drop an element here</div>
        </div>
    </div>

</div>