.unpadded{
    padding: 0;
}
.padded-15{
    padding: 15px;
}
.zone-border{
    border: 2px dotted;
}
.cauldron-element-type{
    min-width: 100px;
}
.cursor-as-pointer{
    cursor:pointer;
}
.top20{
    margin-top:20px;
}