.unpadded{
    padding: 0;
}
.padded-15{
    padding: 15px;
}
.zone-border{
    border: 2px dotted;
}
.cauldron-element-type{
    margin-top: 10px;
    margin-right:10px;
    max-width: 100px;
}
.cursor-as-pointer{
    cursor:pointer;
}
.top20{
    margin-top:20px;
}
.bottom-move{
    padding-top: 120px;
}